{% extends 'base.html' %}
{% block content %}
<main>
<h1>Objektiv hinzufügen</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(class="input") }}<br>
    {{ form.focal_length.label }} {{ form.focal_length(class="input") }}<br>
    {{ form.min_apperture.label }} {{ form.min_apperture(class="input") }}<br>
    {{ form.max_apperture.label }} {{ form.max_apperture(class="input") }}<br>
    {{ form.seriennummer.label }} {{ form.seriennummer(class="input") }}<br>
    {{ form.submit(class="btn") }}
</form>
</main>
{% endblock %}

